@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  font-family: "Space Mono", monospace;
}

.wave-bg{
  width: 100%;
  height: 100vh;
  overflow: auto;
}

/* .text-gradient{
  background: linear-gradient(90deg, #013523 -12.9%, #039B66 114.19%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

} */















